/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ---------------------------------- GUÍA DE ESTILO ----------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* 1. COMPONENTES ---------------------------------------------------------------------- */
/*  1.1. Páginas ----------------------------------------------------------------------- */
/*  1.2. Bordes ------------------------------------------------------------------------ */
/*  1.3. Colores ----------------------------------------------------------------------- */
/*  1.4. Tarjeta ----------------------------------------------------------------------- */
/*  1.5. Imágenes ---------------------------------------------------------------------- */
/*  1.6. Texto ------------------------------------------------------------------------- */
/*  1.7. Botón Enlace ------------------------------------------------------------------ */
/*  1.8. Iconografía ------------------------------------------------------------------- */
/*  1.9. Objeto: Mapa ------------------------------------------------------------------ */
/* 1.10. Navegación -------------------------------------------------------------------- */
/* 1.11. Formularios ------------------------------------------------------------------- */
/* 1.12. Tablas ------------------------------------------------------------------------ */
/* 1.13. Retorno Inicio ---------------------------------------------------------------- */
/* 1.14. Modal ------------------------------------------------------------------------- */
/* 1.15. Plugins ----------------------------------------------------------------------- */
/* 2. LAYOUT: ESCRITORIO Y PORTATIL ---------------------------------------------------- */
/* 2.1. Contenedor --------------------------------------------------------------------- */
/* 2.2. Navegador ---------------------------------------------------------------------- */
/* 2.3. Encabezado y Secciones --------------------------------------------------------- */
/* 2.4. Encabezado --------------------------------------------------------------------- */
/* 2.5. Portafolio --------------------------------------------------------------------- */
/* 2.6. Nosotros ----------------------------------------------------------------------- */
/* 2.7. Contáctenos -------------------------------------------------------------------- */
/* 2.8. Pie de página ------------------------------------------------------------------ */
/* 3. LAYOUT: TABLET ------------------------------------------------------------------- */
/* 4. LAYOUT: CELULAR ------------------------------------------------------------------ */
/* 5. BIBLIOGRAFÍA --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------- */
/* ---------------------------------- 1. COMPONENTES ----------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------- */
/* 1.1. Página ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Fuentes: Roboto y Yanone */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* Página Principal */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #EEE;
    font-family: 'Work Sans', sans-serif;
}

/* Páginas Secundarias */



/* ------------------------------------------------------------------------------------- */
/* 1.2. Bordes ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Borde */
.borde{
    border: 1px solid #CCC;
}

/* Borde abajo*/
.borde-abj{
    border-bottom: 1px solid #CCC;
}

/* Borde redondeado arriba */
.borde-redon-arr{
    border-radius: 5px 5px 0 0;
}

/* Borde redondeado abajo */
.borde-redon-abj{
    border-radius: 0 0 5px 5px;
}


/* ------------------------------------------------------------------------------------- */
/* 1.3. Colores ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------- */

/* Sena: Color Verde */
.color-verde{
    background: #39A900;
}

/* Sena: Color Azul Oscuro */
.color-azul-osc{
    background: #00324D;
}

/* Sena: Color Azul Claro */
.color-azul-cla{
    background: #82DEF0;
}

/* Sena: Color Gris */
.color-gris-sena{
    background: #343A40;
}
/* Color blanco */
.color-blanco{
    background: #FFF;
}

/* Color gris claro */
.color-gris-cla{
    background: #BBB;
}

/* Color gris oscuro */
.color-gris-osc{
    background: #777;
}

/* Color negro */
.color-negro{
    background: #000;
}


/* ------------------------------------------------------------------------------------- */
/* 1.4. Tarjeta ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------- */
.tarjeta{
    width: 100%;
    height: 100%;
    padding: 10px;
}


/* ------------------------------------------------------------------------------------- */
/* 1.5. Imágenes ----------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Imágenes */
.imagen{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 5px;
}
.imagen img{    
    width: auto;
    height: 80%;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------------------------------------------------------------------------------------- */
/* 1.6. Texto -------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Títulos */
.titulo{
    height: 70px;    
    line-height: 70px;
    text-align: center;    
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    clear: both;
}
.titulo h1{
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

/* Subtítulos */
.subtitulo{
    height: 50px;
    line-height: 50px;
    text-align: center;    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.subtitulo h2{
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

/* Párrafos */
.parrafo{    
    font-size: 0.9em;
    padding: 15px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;    
}
.parrafo p{
    margin-bottom: 15px;
}


/* ------------------------------------------------------------------------------------- */
/* 1.7. Botón Enlace ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Ver */
.ver{
    width: 100%;
    height: 50px;    
    text-align: center;
    padding: 5px;    
}
.ver a{    
    display: block;
    width: 50%;
    height: 100%;
    padding: 12px;
    margin: auto;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.ver a:hover{
    background: #00324D;
}


/* ------------------------------------------------------------------------------------- */
/* 1.8. Iconografía -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Información Básica */
.info-basica{
    width: 100%;
    height: 70%;    
}

/* Social Media */
.social-media{
    width: 100%;
    height: 30%;
    padding: 8px 80px;    
}
.social-media div{
    width: 20%;
    height: 100%;    
    text-align: center;
    float: left;
    position: relative;
    font-size: 2.5em;
}
.social-media a{
    display: block;
    position: absolute;
    top: 8%;
    left: 32%;
    text-decoration: none;
    color: #39A900;
}
.social-media a:hover{
    color: #00324D;
}


/* ------------------------------------------------------------------------------------- */
/* 1.9. Objeto: Mapa ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}


/* ------------------------------------------------------------------------------------- */
/* 1.10. Navegación -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Navegación */
.navegador{
    width: 100%;
    height: 100%;    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

.navegador i{    
    margin-right: 5px;    
    font-size: 0.8em;    
}

/* Nivel 1 */
.navegador>ul{
    list-style: none;
    text-align: right;    
}
.navegador>ul>li{
    width: 120px;
    height: 100%;
    line-height: 41px;
    display: inline-block;
    text-align: center;
}
.navegador ul li a{
    padding-top: 7px;    
    display: block;    
    text-decoration: none;
    color: #FFF;    
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
.navegador ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}
.navegador ul li:hover>ul{
    display: block;
}
.navegador .m-ingreso{
    width: 100%;
}

/* Nivel 2 */
.navegador li ul{
    width: 120px;
    list-style: none;
    position: absolute;
    background: #39A900;    
    display: none;
}
.navegador .m-ingreso ul{
    width: 14.2%;
    list-style: none;
    position: absolute;
    background: #00324D;    
    display: none;
}
.navegador li ul li{
    position: relative;    
}

/* Nivel 3 */
.navegador li ul li ul{
    left: 121px;
    top: 3px;
}


/* ------------------------------------------------------------------------------------- */
/* 1.11. Formularios ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* 1.12. Tablas ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* 1.13. Retorno Inicio ---------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* 1.14. Modal ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* 1.15. Plugins ----------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */





/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- 2. LAYOUT ------------------------------------- */
/* ------------------------------- ESCRITORIO Y PORTATIL ------------------------------- */
/* ------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------- */
/* 2.1. Contenedor --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Contenedor */
.contenedor{
    width: 95%;
    max-width: 1280px;
    margin: auto;
}

/* Elementos contenedor */
nav, 
header,
section,
footer{
    width: 100%;
}

/* ------------------------------------------------------------------------------------- */
/* 2.2. Navegador ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Navegador */
nav{    
    height: 50px;    
}

/* logo */
.logo{
    width: 20%;
    height: 100%;
    float: left;
}

.logo .imagen img{    
    width: auto;
    height: 100%;
}

/* menú */
.menu{
    width: 65%;
    height: 100%;
    float: left;    
}

/* ingreso */
.ingreso{
    width: 15%;
    height: 100%;
    float: left;
}


/* ------------------------------------------------------------------------------------- */
/* 2.3. Encabezado y Secciones ----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

header,
section{
    height: 90vh;    
}


/* ------------------------------------------------------------------------------------- */
/* 2.4. Encabezado --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

header{    
    background-image: url(header.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}


/* ------------------------------------------------------------------------------------- */
/* 2.5. Portafolio --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Contenedor Portofolio */
.portafolio{
    height: auto;
}

/* Columnas */
.port-col{
    width: 33.33%;
    height: 100%;
    float: left;    
}

/* Imágenes */
.port-col .imagen{    
    height: 30vh;
}


/* ------------------------------------------------------------------------------------- */
/* 2.6. Nosotros ----------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Filas */
.nos-fila{
    width: 100%;
    height: 30vh;    
}

/* Columnas */
.nos-col-izq,
.nos-col-der{
    width: 40%;
    height: 100%;
    float: left;
}
.nos-col-cnt{
    width: 20%;
    height: 100%;
    float: left;
}

/* Tarjeta */
.nos-col-izq .tarjeta,
.nos-col-der .tarjeta{
    position: relative;
}
.nos-col-izq .subtitulo,
.nos-col-der .subtitulo{
    position: relative;
    width: 100%;
}
.nos-col-izq .parrafo,
.nos-col-der .parrafo{
    position: relative;
    width: 100%;
    height: 60%;
    line-height: 11vh;    
}
.nos-col-izq .parrafo p,
.nos-col-der .parrafo p{
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.nos-col-izq .ver,
.nos-col-der .ver{
    position: absolute;
    width: 96%;
    bottom: 10px;    
}
.nos-col-izq .ver a{
    margin-right: 0;
}
.nos-col-der .ver a{
    margin-left: 0;
}
.nos-col-izq .subtitulo,
.nos-col-izq .parrafo{
    text-align: right;
    padding-right: 15px; 
}
.nos-col-der .subtitulo,
.nos-col-der .parrafo{
    text-align: left;
    padding-left: 15px; 
}


/* ------------------------------------------------------------------------------------- */
/* 2.7. Contáctenos -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Columnas */
.cont-col{
    width: 50%;
    height: 100%;
    float: left;
}

/* Filas */
.cont-fila-arr{
    width: 100%;
    height: 70%;
}
.cont-fila-abj{
    width: 100%;
    height: 30%;
}

/* Párrafo */
.cont-fila-abj .parrafo{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
.cont-fila-abj .parrafo p{
    margin: 0;
}

/* ------------------------------------------------------------------------------------- */
/* 2.8. Pie de Página ------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------- */

footer{
    height: 70px;
}

/* Párrafo */
footer .parrafo{
    text-align: center;
    font-size: 0.7em;
    color: #FFF;
    font-weight: bold;
}
footer .parrafo p{
    margin: 0;
}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- 3. LAYOUT ------------------------------------- */
/* -------------------------------------- TABLET --------------------------------------- */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- 4. LAYOUT ------------------------------------- */
/* -------------------------------------- CELULAR -------------------------------------- */
/* ------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------- */
/* ---------------------------------- V. BIBLIOGRAFÍA ---------------------------------- */
/* ------------------------------------------------------------------------------------- */